*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --white: rgb(255,255,255);
    --body-bg-color: #3D5A80;
    --h-f-bg-color: #1F3A5F;
    --font-open-sans: 'Open Sans', sans-serif;
}

/* Scrollbar */

::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(138, 201, 252);
    border-radius: 2px;
}

::-webkit-scrollbar-track{
    transition: .3s ease;
}

/* Body */

body{
    background: var(--body-bg-color) !important;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */

.header{
    background: var(--h-f-bg-color);
    color: var(--white);
    min-height: 11vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-open-sans);
    font-weight: 800;
}

.header__content{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8rem;
    padding-left: 2rem;
    margin: auto 0;
    animation: opacityEnter .5s ease;
    font-family: var(--font-open-sans);
    font-weight: 800;
}

/* Header - animation */

@keyframes SlideEnter {
    0%{
        margin-right: 30rem;
        opacity: 0.1;
    }

    50%{
        opacity: 0.3;
    }
    
    100%{
        margin-right: 0rem;
        opacity: 1;
    }
}

/* Return */

.header__return{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 1rem;
    border-radius: 100%;
    text-decoration: none;
    color: var(--white);
    transition: .3s ease;
}

.header__return:hover{
    background: rgba(35, 41, 43, 0.2);
    transform: scale(1.30);
}

/* Main */

.main{
    position: relative;
    width: 100%;
    padding: 0 2rem;
    min-height: 80vh;
    margin-bottom: 11vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.buttons_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation: opacityEnter .5s ease;
}

.buttons_container--teams{
    flex-direction: column;
}

.buttons_container > a{
    padding: 20px 40px;
    border: 1px solid var(--white);
    border-radius: 25px;
    text-decoration: none;
    color: var(--white);
    transition: .3s ease;
    font-family: var(--font-open-sans);
    font-weight: 600;
}

.buttons_container > a:hover{
    cursor: pointer;
    background: rgba(255,255,255,0.2);
    padding: 20px 45px;
}

/* Main - animation */

@keyframes opacityEnter {
    0%{
        filter: blur(1rem);
        opacity: 0.1;
    }
    100%{
        filter: blur(0rem);
        opacity: 1;
    }
}

/* Body Home */

.title{
    color: white;
    font-family: var(--font-open-sans);
    text-align: center;
    margin-bottom: 2rem;
    animation: opacityEnter .5s ease;
}

.title__paragraph{
    font-size: 2rem;
    font-weight: 700;
}

/* Footer */

footer{
    background: var(--h-f-bg-color);
    width: 100%;
    color: var(--white);
    min-height: 11vh;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-open-sans);
    font-weight: 600;
}

.footer__credits{
    margin: auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    animation: opacityEnter .5s ease;
}

.footer__icon{
    line-height: 90%;
}

/* Decoration line */

.line{
    width: 98%;
    height: 2px;
    background: var(--white);
}

/* Form */

.players_form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    width: 70%;
    animation: opacityEnter 0.5s ease;
}

.players_form__columns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.players_form__column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 40%;
}

.players_form__column > input{
    padding: 5px;
    border: none;
    border-bottom: 2px solid var(--white);
    color: var(--white);
    height: 1.75rem;
    width: 100%;
    border-radius: 2px;
    background-color: transparent;
    font-size: 1rem;
}

.players_form__column > input::placeholder{
    color: rgb(200,200,200);
}

.players_form__column > input:focus{
    outline: none;
}

/* Buttons form */

.buttons_form{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    min-width: 90px;
    color: var(--white);
    background: transparent;
    border: 1px solid var(--white);
    border-radius: 15px;
    transition: .3s ease;
}

.generate-teams:hover{
    background: rgb(171, 255, 171, 0.2);
    padding: 10px 25px;
}

.reset-teams:hover{
    background: rgba(255, 42, 42, 0.2);
    padding: 10px 25px;
}

/* Generated teams */

.teams_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--white);
    width: 90%;
    margin-bottom: 20px;
}

.teams{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.teams > p{
    text-align: center;
    padding: 10px;
    width: 90%;
    background: #3D5A80;
    font-size: 1rem;
    font-family: var(--font-open-sans);
    border-bottom: 1px solid var(--white);
}

.line--teams{
    display: none;
}

.teams > h3{
    margin: 0 auto;
}

/* Compartir */

.share{
    width: 100%;
    color: var(--white);
    display: none;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.share__button{
    display: flex;
    width: 50%;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.share__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
}

.share__link > i{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Save part */

.team_save_button{
    display: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    min-width: 90px;
    color: var(--white);
    background: transparent;
    border: 1px solid var(--white);
    border-radius: 15px;
    transition: .3s ease;
}

.team_save_button:hover{
    background: rgba(52, 230, 253, 0.2);
    padding: 10px 25px;
}

/* Media Queries */

@media screen and (max-width: 1279px) {
    .players_form{
        width: 100%;
    }

    .players_form__columns{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        justify-content: flex-start;
    }

    .players_form__column{
        width: 90%;
    }

    .teams_container{
        flex-direction: column;
    }

    .teams{
        width: 100%;
    }
}